<div class="flex flex-col h-screen w-screen items-center">
  <div class="flex h-20 items-center w-full bg-blue-300">
    <app-header-container></app-header-container>
  </div>
  <div class="overflow-x-hidden w-full items-center flex-1 flex flex-col p-0 lg:px-4 mt-4">
    <div class="overflow-y-auto overflow-x-hidden 2xl:w-1/2 w-full super-scroll">
      <app-bike-detail-container></app-bike-detail-container>
    </div>
  </div>
</div>
