<div class="w-full flex justify-center">
  <div class="flex flex-col bg-gray-100 w-full h-full p-8 rounded-2xl">
    <div class="flex justify-center mb-4 w-full">
      <app-search class="w-full" (searchText)="searchBike($event)"></app-search>
    </div>
    <div class="flex justify-center w-full">
      <div class="grid grid-cols-3 gap-10 w-full" *ngIf="bikes.length > 0; else noBikeFounds">
        <div class="flex flex-col justify-between items-center h-56 w-56 bg-white rounded-2xl pt-5 pb-3"
             *ngFor="let bike of bikes">
          <div class="flex-1 overflow-hidden">
            <img [src]="getImageUrl(bike.picture)" [alt]="bike.name" class="h-full w-full object-cover">
          </div>
          <div class="flex flex-col justify-between justify-items-end w-full bg-gray-50 px-5">
            <div class="flex justify-between items-end w-full">
              <p class="font-extrabold">{{bike.name}}</p>
              <p class="italic">{{bike.brand}}</p>
            </div>
            <div class="flex justify-between w-full">
              <p class="font-extrabold">Price</p>
              <p class="italic">{{bike.price}}</p>
            </div>
          </div>
          <div>
            <span class="font-light text-xs italic hover:underline hover:cursor-pointer" (click)="navigateToBikeDetails(bike.id)">View Bike</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noBikeFounds>
  <div class="flex justify-between items-center w-full h-full">
    <span>No data found!</span>
  </div>
</ng-template>
