<div class="flex bg-blue-300 w-full items-center px-8">
  <div class="flex items-center">
    <mat-icon class="scale-125">menu</mat-icon>
  </div>
  <div class="flex items-center ml-5">
    <span class="text-lg text-white font-bold">Bike Catalogues</span>
  </div>
</div>
