<div class="w-full flex justify-center">
  <div class="flex-1 flex items-center">
    <mat-form-field appearance="outline" class="w-full p-0">
      <input type="text" matInput placeholder="Find your right bike..." [formControl]="searchInput" (keyup.enter)="onSearchBike()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>