<div class="w-full flex justify-center">
  <div class="w-full flex flex-col bg-gray-100 rounded-md p-5">
    <div class="flex w-full items-center hover:cursor-pointer" (click)="onNavigateBack()">
      <div class="bg-blue-300 rounded-full p-1 flex justify-center items-center">
        <mat-icon>arrow_back</mat-icon>
      </div>
      <span class="ml-2">Navigate Back</span>
    </div>
    <div class="flex justify-center">
      <img [src]="loadImageUrl(bike?.picture)" [alt]="bike?.name" class="w-1/2">
    </div>
    <div class="my-2">
      <h2>{{bike.brand | titlecase}} : {{bike.name}} - {{bike.year}}</h2>
    </div>
    <div class="w-full">
      <span class="text-justify">{{DummyData.dummyText}}</span>
    </div>
  </div>
</div>
